@use 'src/styles/vars';
@use 'src/styles/mixins';

.creations {
  @include mixins.flexcenterColumn;
  margin: 2rem 0;
  min-height: 80vh;

  .creations_h1 {
    @include mixins.h1Title;
  }
  .creations_box {
    @include mixins.flexcenter;
    flex-wrap: wrap;
    margin: 0 2rem;

    @include mixins.for-phone-and-tablet-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .creations_item {
      @include mixins.flexcenterColumn;
      .img_creations {
        margin: 0 2rem;
        width: 35rem;
        height: 23rem;
        border: solid 3px vars.$colorTitleMenu;
        border-radius: 10px;
        @include mixins.for-tablet-portrait-up {
          width: 25rem;
          height: 15rem;
          margin: 0 2rem;
        }
        @include mixins.for-phone-only {
          width: 20rem;
          height: 12rem;
          margin: 0 2rem;
        }
        @include mixins.flexcenter;
        a {
          width: 100%;
          @include mixins.flexcenter;

          p {
          opacity: 0;
          transform: translate(50%);
          @include mixins.flexcenter;

          &:hover {
            transition: all ease-in-out 0.4s;
            opacity: 1;
            cursor: pointer;
            background: vars.$colorParaTransparent;
            color: vars.$colorTitleLight;
            width: 70%;
            height: 10rem;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            transform: translate(0%, 0%);
            @include mixins.for-phone-only {
              height: 7rem;
            }
          }
          }
        }
        
      }
      .img_dpm {
        background-image: url('../../assets/images/screenshot_creations/desktop_screenshot-dpm.png');
        background-position: center;
        background-size: cover;
      }
      .img_portfolio {
        background-image: url('../../assets/images/screenshot_creations/desktop_screenshot-yaelcreations.png');
        background-position: center;
        background-size: cover;
      }
      .img_creations2 {
        margin: 0 2rem;
        width: 35rem;
        height: 23rem;
        border: solid 3px vars.$colorTitleMenu;
        border-radius: 10px;
        @include mixins.for-tablet-portrait-up {
          width: 25rem;
          margin: 0 2rem;
        }
        @include mixins.for-phone-only {
          width: 20rem;
          margin: 0 2rem;
        }
      }
      .creations_title--box {
        width: 35rem;
        margin: 1rem 2rem 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mixins.for-tablet-portrait-up {
          width: 25rem;
        }
        @include mixins.for-phone-only {
          width: 20rem;
        }
        h2 {
          text-align: center;
          color: vars.$colorPara;
          font-weight: 600;
        }

        .fa-github {
          cursor: pointer;
          font-size: 1.5rem;
        }
      }
    }
  }
}
