$colorTitleMenu: #2f4558;
$colorPara: #335f8a;
$colorParaTransparent: #335e8ae3;
$colorTitleLight: #ffffff;
$colorIcon: rgb(0, 0, 0);
$colorBorderPrimary: rgb(0, 0, 0);
$colorBorderBottom: #f26619;
$color-border-bottom: rgb(0, 0, 0);

$sizeTitle: 2rem;
$sizeButton: 1rem;
$policeTitle: 'Lobster', cursive;
