@use 'src/styles/vars';
@use 'src/styles/mixins';

.home {
  @include mixins.flexcenterColumn;

  .home_h1 {
    @include mixins.h1Title;
  }

  .home_presentation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    width: 80%;
    @include mixins.for-phone-and-tablet-only {
      flex-direction: column;
      align-items: center;
    }

    .home_picture {
      border-radius: 15px;
      margin-right: 5rem;
      height: 15rem;
      width: auto;
      @include mixins.for-phone-and-tablet-only {
        margin-right: 0;
      }
    }
    .home_presentation--box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 30%;
      color: vars.$colorPara;
      @include mixins.for-phone-and-tablet-only {
        width: 70%;
        margin: 2rem 0;
        justify-content: center;
        align-items: center;
      }

      p {
        padding-bottom: 1rem;
        letter-spacing: 0.09rem;
      }

      button {
        margin: 2rem 0;
        padding: 1rem;
        color: vars.$colorPara;
        background: vars.$colorTitleLight;
        border-radius: 5px;
        border: vars.$colorBorderBottom 2px solid;
        text-align: center;
        font-weight: bold;
        font-size: vars.$sizeButton;
        width: 80%;
        transition: all 1s ease-in-out;
        @include mixins.for-phone-and-tablet-only {
          width: 100%;
        }

        &:hover {
          background-color: vars.$colorTitleMenu;
          color: vars.$colorTitleLight;
        }
      }
    }
  }
}
