@use 'src/styles/vars';
@use 'src/styles/mixins';

.nav {
  .nav_banner--top {
    display: flex;
    @include mixins.for-phone-and-tablet-only {
      justify-content: flex-end;
    }
    justify-content: space-around;
    align-items: center;
    height: 4.2rem;
    box-shadow: 0px 1px 5px rgb(233, 233, 233);
    z-index: 10;
    .nav_wrapper-mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 6rem;
      right: 0;

      @include mixins.for-phone-and-tablet-only {
        width: 80%;
      }
      .nav_burger-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7rem;
        margin-right: 2rem;

        span {
          border-bottom: solid vars.$color-border-bottom 2px;
          width: 2rem;
          padding-top: 0.7rem;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          @include mixins.for-tablet-landscape-up {
            display: none;
          }
        }
      }
      .nav_burger-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
    }
    .nav_logo--box {
      @include mixins.for-phone-only {
        margin: 0 1rem;
      }
      margin: 0 3rem;
      .nav_logo {
        height: 2.8rem;
        width: auto;
        border-radius: 10px;
      }
    }
    .header_nav-mobile {
      right: 0;
      animation: burgerAnimationToActive 0.5s ease-in-out;
      display: none;
      z-index: 33;
      @include mixins.for-tablet-landscape-up {
        display: none;
      }
    }
    .actived {
      animation: burgerAnimationToActive 0.5s ease-in-out;
      display: none;
      @include mixins.for-tablet-landscape-up {
        display: none;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 20rem;
      background-color: vars.$colorParaTransparent;
      z-index: 22;
      border-bottom-left-radius: 10px;
      position: absolute;
      left: 0;
      top: 4.2rem;
      @include mixins.for-tablet-landscape-up {
        display: none;
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      li {
        padding: 0.5rem;
        color: vars.$colorTitleLight;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: vars.$colorBorderBottom;
        }
      }
    }

    @keyframes burgerAnimationToActive {
      0% {
        transform: translateX(25%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    .nav_bar {
      @include mixins.for-phone-and-tablet-only {
        display: none;
      }
      ul {
        @include mixins.for-desktop-up {
          justify-self: flex-end;
        }
        @include mixins.flexAroundCenter;
        .fa-home {
          color: vars.$colorIcon;
        }
        li {
          padding: 0 2rem;
          color: vars.$colorTitleMenu;
          font-weight: 500;

          &:hover {
            color: vars.$colorBorderBottom;
            font-weight: bold;
          }
        }
      }
    }
  }
}
